.app-scrollable-row {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 480px;
  white-space: nowrap;

  > .row {
    overflow: hidden;
  }
}

.app-description-wrapper {
  overflow: hidden;
}

.app-description-text {
  white-space: normal;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
}



::ng-deep .ng-select.custom {
  min-height: 0px;
  max-width: 350px;
}

::ng-deep .ng-select {
border: 1px solid black !important;
background-color: aqua !important;
}