<app-navigation-bar currentLangId="1" (langChange)="onLangChange($event)"></app-navigation-bar>

<section id="home" style="max-height: 100vh !important;">
  <ngb-carousel #carousel [interval]="350000">
    <ng-template ngbSlide>
      <div class="carousel-caption">
        <h3>{{ sliderDetail?.title }}</h3>
      </div>


      <div class="picsum-img-wrapper">
        <!-- <video class="app-carousel-img" style="width: 100vw;" muted  onloadedmetadata="this.muted = true"
        onmouseenter="play()"
        onmouseleave="pause()" >
          <source src="../../assets/videos/kafe.mp4" type="video/mp4">
          <source src="../../assets/videos/kafe.mp4" type="video/ogg">
          Your browser does not support HTML5 video.
        </video> -->
        <iframe class="app-carousel-img" style="width: 100vw;" 
          src="https://www.youtube.com/embed/EHO44mZsoL4?controls=0&autoplay=1&mute=1"
          frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </ng-template>
    <ng-template ngbSlide *ngFor="let sliderDetail of sliderDetails">
      <div class="carousel-caption">
        <h3>{{ sliderDetail?.title }}</h3>
      </div>
      <div class="picsum-img-wrapper">
        <img class="app-carousel-img" [src]="sliderDetail?.image">
      </div>
    </ng-template>
  </ngb-carousel>
</section>
<!-- END section -->

<section class="ftco-section" id="about">
  <app-about [about]="about"></app-about>
</section>
<!-- END section -->

<section class="ftco-section bg-light" id="menu">
  <app-menus [categories]="categories" [menus]="menus"></app-menus>
</section>
<!-- END section -->

<section class="ftco-section bg-light" id="contact">
  <div class="row">
    <div class="col-md-6">
      <app-contact-us [contact]="contact"></app-contact-us>
    </div>
    <div class="col-md-6">
      <div style="height: 100%">
        <iframe class="app-map" frameborder="0" style="border: 0" allowfullscreen aria-hidden="false" tabindex="0"
          *ngIf="mapUrl" [src]="mapUrl"></iframe>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<app-footer-bar id="info" [contact]="contact"></app-footer-bar>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
  </svg>
</div>